<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning</title>
</head>
<body>
    <h1>Machine Learning</h1>
    <h3>Machine Learning is an subarea of IA that learns patterns from data</h3>
        <h2>Types of Machine Learning</h2>
        <h3>Supervised, Unsupervised and Reinforced</h3>

        <h2>Examples of Machine Learning</h2>
        <h3>Regression, Decison trees and Neural Networks</h3>

</body>
</html>